.page {
  max-width: 880px;
  margin: 45px auto;
  background-color: black;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 700px) {
  .page {
    margin-top: 28px;
  }
}
