.elements__visible-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 19px;
  background-image: url('../../../images/like.svg');
  background-size: cover;
}

.elements__visible-checkbox:hover {
  opacity: .5;
  cursor: pointer;
}

.elements__invisible-checkbox:checked + .elements__visible-checkbox {
  background-image: url('../../../images/like1.svg');
}
