.header__logo {
  display: block;
  background-image: url('../../../images/logo.svg');
  background-repeat: no-repeat;
  min-width: 142px;
  min-height: 33px;
}

@media screen and (max-width: 700px) {
  .header__logo {
    background-image: url('../../../images/logo-mobile.svg');
    min-width: 104px;
    min-height: 25px;
    margin-left: 27px;
  }
}

.header__logo:hover {
  opacity: .8;
  transition: opacity .3s ease-in-out;
}
