.footer {
  margin: 66px auto 60px;
}

@media screen and (max-width: 939px) {
  .footer {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    margin: 47px 19px 0;
  }
}
