.edit-popup__header {
  padding: 34px 0 24px 36px;
  margin: 0;
  font-family: inherit;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (max-width: 560px) {
  .edit-popup__header {
    padding: 25px 0 45px 22px;
    font-size: 18px;
  }
}
