.edit-popup__close {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url('../../../images/close-icon.svg');
  transition: opacity .3s ease-in-out;
}

.edit-popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .edit-popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-size: cover;
  }
}
