.popup__submit-btn {
  margin-top: 48px;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity .3s ease-in-out;
}

.popup__submit-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .popup__submit-btn {
    margin-top: 45px;
    height: 46px;
    font-size: 14px;
  }
}
